html{
    box-sizing:border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    background: #161616;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e51e2a;
    clip-path: circle(70% at right -20%);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position: relative;
    max-width: 150px;
    margin: 40px 25px;
}

.navbar{
    position: relative;
    display: flex;
    margin: 40px 25px;
    z-index: 5;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    margin-left: 40px;
    color: #fff;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textBox{
    position: relative;
    max-width: 600px;
    margin: 0 20px 0 40px;
}

.textBox h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.textBox p{
    color: #fff;
}

.textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #e51e2a;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}

.sci{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover{
    background: #e51e2a;
    transform: translateY(-10px);
}

.sci li a img{
    filter: invert(1);
    transform: scale(0.5);
}


/*******Silder*******/
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
    
}

.imgBox{
    width: 500px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.imgBox img{
    max-width: 150px;

} 

.swiper-slide img{
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right{
    background-image: none;
}


@media screen and (max-width:991px) {
    
    section{
        padding: 100px 0px;
    }

    .sci{
        left: 40px;
    }
    .content{
        flex-direction: column;
       
    }
    .content h2{
        font-size: 1.5em;
    }

    .textBox{
        max-width: 85%;
    }
    .imgBox{
        max-width: 85%;
    }

    .swiper-slide{
        max-height: 300px;
    }

    .navbar{
        display: none;
        margin: 0;
    }
    .navbar.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background: #e51e2a;
        z-index: 4;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(./images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 5;
        margin-right: 30px;
        transition: 0.5s ease-in-out;
    }

    .toggle.active{
        position: fixed;
        right: 0px;
        top:53px;
        background: url(./images/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10;
        margin-right: 30px;
        transition: 0.5s ease-in-out;
    }

    .navbar li a{
        margin: 20px;
        transition: 0.5s ease-in-out;
    }

    .navbar li a:hover{
        color: #e51e2a;
        background: #fff;
        padding: 6px 20px;
        border-radius: 20px;
        transition: 0.5s ease-in-out;
    }
}